<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Echo Example</title>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <script>
      window.webrtcHost = {{ .WebRTCHost }}
      window.creds = {{ .Credentials }}
      window.externalAuthAddr = {{ .ExternalAuthAddr }}
      window.externalAuthToEntity = {{ .ExternalAuthToEntity }}
      window.accessToken = {{ .AccessToken }}
    </script>
    <script src="./static/main.js"></script>
  </head>
</html>
