<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Echo Example</title>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <script>
      window.webrtcHost = {{ .WebRTCHost }}
      window.creds = {{ .Credentials }}
      window.externalAuthAddr = {{ .ExternalAuthAddr }}
      window.externalAuthToEntity = {{ .ExternalAuthToEntity }}
      window.accessToken = {{ .AccessToken }}
    </script>
  <style>
    table {
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #999;
      padding: 0.5rem;
    }
  </style>
    <script src="./static/main.js"></script>
  </head>
  <body>
    <table>
      <tr>
        <th></th>
        <th>WebRTC</th>
        <th>Direct gRPC</th>
      </tr>
      <tr>
        <th>Unary</th>
        <td data-testid="unary-wrtc"></td>
        <td data-testid="unary-direct"></td>
      </tr>
      <tr>
        <th>Multiple</th>
        <td data-testid="multi-wrtc"></td>
        <td data-testid="multi-direct"></td>
      </tr>
      <tr>
        <th>BiDi</th>
        <td data-testid="bidi-wrtc"></td>
        <td data-testid="bidi-direct"></td>
      </tr>
    </table>
  </body>
</html>
